<div class="row justify-content-center align-items-center">
  <div class="col">
    <h2 class="text-center">Welcome</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="jumbotron m-auto">
      <h1 class='text-center'><%= @page_title %></h1>
      <span class='text-justify'><%== in_paragraphs(@intro_spiel) %></span>
      <p><a class="btn btn-primary d-flex justify-content-sm-center" href="#">Learn more about habit philosophy</a></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div id="accordion-1">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0"><a data-toggle="collapse" href="div#accordion-1 .item-1">Set a new objective</a></h5>
        </div>
        <div data-parent="#accordion-1" class="collapse show item-1">
          <div class="card-body">
            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac
              facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
            <div class="col">
              <div class="row">
                <div class="col-lg-9 offset-lg-1">
                  <form>
                    <div class="input-group">
                      <div class="input-group-prepend"><span class="input-group-text">Set An Objective</span></div>
                      <input type="text" class="form-control" />
                      <div class="input-group-append">
                        <div class="dropdown btn-group"><button class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                            type="button">Objective's Life Aspect</button>
                          <div class="dropdown-menu">
                              <a href="#" class="dropdown-item">#presentness</a>
                              <a href="#" class="dropdown-item">#musicality</a>
                              <a href="#" class="dropdown-item">#humour</a>
                            <div class="dropdown-divider"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col"><button class="btn btn-success" type="button">Go!</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0"><a data-toggle="collapse" href="div#accordion-1 .item-2">Start a new habit</a></h5>
        </div>
        <div data-parent="#accordion-1" class="collapse item-2">
          <div class="card-body">
            <p class="card-text">Focus on one simple habit by creating it here:</p>
            <div class="col">
              <div class="row">
                <div class="col-lg-9 offset-lg-1">
                  <form>
                    <div class="input-group">
                      <div class="input-group-prepend"><span class="input-group-text">Start A Habit</span></div><input
                        type="text" class="form-control" />
                      <div class="input-group-append">
                        <div class="dropdown btn-group"><button class="btn btn-info dropdown-toggle"
                            data-toggle="dropdown" type="button">Habit Aspect</button>
                          <div class="dropdown-menu"><a href="#" class="dropdown-item">#presentness</a><a href="#"
                              class="dropdown-item">#musicality</a><a href="#" class="dropdown-item">#humour</a>
                            <div class="dropdown-divider"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col"><button class="btn btn-success" type="button">Go!</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0"><a data-toggle="collapse" href="div#accordion-1 .item-3">Learn about habit forming</a></h5>
        </div>
        <div data-parent="#accordion-1" class="collapse item-3">
          <div class="card-body">
            <p class="card-text">Here are some links about habit forming, and about the deeper psychology that informs this project:</p>
            <a href="https://www.simplypsychology.org/maslow.html" target="_blank">Masolow's Heirarchy of Needs</a>
            <a href="https://www.samuelthomasdavies.com/book-summaries/self-help/atomic-habits/" target="_blank">The Theory Behind Atmomic Habit Forming</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>