<div class="row">
  <div class="col">
    <div class="jumbotron m-auto" id="front-page">
      <h1 class='text-center'><%= @page_title %></h1>
      <span class='text-justify'><%== in_paragraphs(@intro_spiel) %></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div id="choices" role="tablist">
      <div role="tab" class="card" id="create_new_objective_card_header">
        <div class=" card-header">
          <h3 class="mb-0"><a data-toggle="collapse" href="#new-objective">Set a new objective</a></h3>
        </div>
        <div role="tabpanel" class="collapse show" id="new-objective">
          <div class="card-body">
            <p class="card-text">Input an objective that you would like to strive for. Then we can flesh it out by
              adding 3 key habits for fulfilling this objective. Please use five words or less, separated by spaces.</p>
            <div class="col">
              <div class="row">
                <div class="col-lg-9 offset-lg-1">
                  <form name="new-objective-form" action="/" method="post">
                    <div class="input-group">
                      <div class="input-group-prepend"><span class="input-group-text">Set An Objective</span></div>
                      <input type="text" class="form-control" name="objective_name" />
                      <div class="input-group-append">
                        <div class="dropdown btn-group">
                          <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                            name="objective-aspect">Aspect</button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item">#presentness</a>
                            <a class="dropdown-item">#musicality</a>
                            <a class="dropdown-item">#humour</a>
                            <div class="dropdown-divider"></div>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-success" type="submit" id="create_new_objective_btn">Go!</button>
                    </div>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tab" class="card" id="create_new_habit_card_header">
        <div class="card-header">
          <h3 class="mb-0"><a data-toggle="collapse" href="#new-habit">Start a new habit</a></h3>
        </div>
        <div role="tabpanel" class="collapse" id="new-habit">
          <div class="card-body">
            <p class="card-text">Focus on one simple habit by creating it here:</p>
            <div class="col">
              <div class="row">
                <div class="col-lg-9 offset-lg-1">
                  <form name="new-habit-form" action="/" method="post">
                    <div class="input-group">
                      <div class="input-group-prepend"><span class="input-group-text">Start A Habit</span></div><input
                        type="text" class="form-control" name="habit_description" />
                      <div class="input-group-append">
                        <div class="dropdown btn-group">
                          <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" type="button"
                            name="habit-aspect">Aspect</button>
                          <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">#presentness</a>
                            <a href="#" class="dropdown-item">#musicality</a>
                            <a href="#" class="dropdown-item">#humour</a>
                            <div class="dropdown-divider"></div>
                          </div>
                        </div>
                        <button class="btn btn-success" type="submit" id="create_new_objective_btn">Go!</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card" id="learn_more_card_header">
        <div class="card-header">
          <h3 class="mb-0"><a data-toggle="collapse" href="#learn-more">Learn about habit forming</a></h3>
        </div>
        <div data-parent="#choices" class="accordion-collapse collapse" id="learn-more">
          <div class="card-body">
          <ul>
            <p class="card-text">Here are some links about habit forming, and about the deeper psychology that informs
              this project:
            </p>
            <li>
              <a href="https://www.simplypsychology.org/maslow.html" target="_blank">Masolow's Heirarchy of Needs</a>
            </li>
            <li>
              <a href="https://www.samuelthomasdavies.com/book-summaries/self-help/atomic-habits/" target="_blank">The
              Theory Behind Atmomic Habit Forming</a></li>
              <a class="btn btn-primary d-flex justify-content-sm-center" href="#">Learn more about habit philosophy</a>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>