<section id="intro_pane">
    <h1><%= @page_title %></h1>
    <div><%= in_paragraphs(@intro_spiel) %></div>
    <div class="down-arrow">
        <a href="#enter_goal" class="arrow_link">What goal are you striving for?</a>
    </div>
</section>
<section>

    <form action="/" method="post">
        <input type="text" name="goal_name" id="enter_goal">
        <button type="submit">Create Goal</button>
    </form>
</section>