<!-- Card -->

<div class="card card-cascade">
<div class="row">
<div class="col">
    <h2 class="text-center"><%= @page_title %></h2>
</div>
</div>
<div class='sm-6 offset-3'>
    <ul>
        <li>Is it a general behaviour, like 'eat healthy food'?</li>
        <li>Or is it a specific set of actions?</li>
        <form id='formDecideAtomic' action="">
            <h5>Is this habit atomic?</h5>
            <label class="radio">
                <input type="radio" name="descideAtomic" id="decideNotAtomic" value="option1" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                No. It is general. Let's make it <h6>3 sub-habits.</h6>
            </label>
            <label class="radio">
                <input type="radio" name="descideAtomic" id="decideAtomic" value="option2" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                Yes. It is specific. Let's define it with <h6>3 specific actions.
            </label>
        </form>
    </ul>
</div>

<!-- Card content -->
<%  if @atomic %>

<div id='non-atomic-subhabits' class="card-body card-body-cascade text-center">
<div class="row">
    <div class="col-lg-9 offset-lg-1">
        <form>
        <!-- <div class="input-group-append">
                <div class="dropdown btn-group" role="group"><button class="btn btn-info dropdown-toggle"
                    data-toggle="dropdown" aria-expanded="false" type="button">Dropdown</button>
                <div role="menu" class="dropdown-menu"><a role="presentation" href="#" class="dropdown-item">First
                    Item</a><a role="presentation" href="#" class="dropdown-item">Second Item</a><a role="presentation"
                    href="#" class="dropdown-item">Third Item</a>
                    <div role="presentation" class="dropdown-divider"></div>
                </div>
                </div>
            </div> -->
        <div class="input-group">

            <div class="input-group-prepend"><span class="input-group-text">Habit # 1 Name</span></div><input type="text"
            class="form-control" />
            <div
            class="input-group-append select2-container form-control select select-primary select2-dropdown-open select2-container-active"
            id="s2id_autogen1"><a href="javascript:void(0)" class="select2-choice" tabindex="-1"> <span
                class="select2-chosen" id="select2-chosen-2">X-Men</span><abbr class="select2-search-choice-close"></abbr>
                <span class="select2-arrow" role="presentation"><b role="presentation"></b></span></a><label
                for="s2id_autogen2" class="select2-offscreen"></label><input class="select2-focusser select2-offscreen"
                type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-2" id="s2id_autogen2"
                disabled=""></div>
        </div>
        </form>
    </div>
    <div class="col"><button class="btn btn-success" type="button">Button</button></div>
    </div>
    <div class="row">
    <div class="col-lg-9 offset-lg-1">
        <form>
        <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text">Habit # 2 Name</span></div><input type="text"
            class="form-control" />
            <div class="input-group-append">
            <div class="dropdown btn-group" role="group"><button class="btn btn-info dropdown-toggle"
                data-toggle="dropdown" aria-expanded="false" type="button">Dropdown</button>
                <div role="menu" class="dropdown-menu"><a role="presentation" href="#" class="dropdown-item">First
                    Item</a><a role="presentation" href="#" class="dropdown-item">Second Item</a><a role="presentation"
                    href="#" class="dropdown-item">Third Item</a>
                <div role="presentation" class="dropdown-divider"></div>
                </div>
            </div>
            </div>
        </div>
        </form>
    </div>
    <div class="col"><button class="btn btn-success" type="button">Button</button></div>
    </div>
    <div class="row">
    <div class="col-lg-9 offset-lg-1">
        <form>
        <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text">Habit # 3 Name</span></div><input type="text"
            class="form-control" />
            <div class="input-group-append">
            <div class="dropdown btn-group" role="group"><button class="btn btn-info dropdown-toggle"
                data-toggle="dropdown" aria-expanded="false" type="button">Dropdown</button>
                <div role="menu" class="dropdown-menu"><a role="presentation" href="#" class="dropdown-item">First
                    Item</a><a role="presentation" href="#" class="dropdown-item">Second Item</a><a role="presentation"
                    href="#" class="dropdown-item">Third Item</a>
                <div role="presentation" class="dropdown-divider"></div>
                </div>
            </div>
            </div>
        </div>
        </form>
    </div>
    <div class="col"><button class="btn btn-success" type="button">Button</button></div>
    </div>
</div>
</div>

<% else %>

<div id='atomic-habit-tasks' class="card-body card-body-cascade text-center">
<div class="row">
<form>
    <div class="col-lg-9 offset-lg-1">

            

        
    </div>
    <div class="col"><button class="btn btn-success" type="button">Button</button></div>
    </div>
    <div class="row">
    <div class="col-lg-9 offset-lg-1">
        <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text">Action # 2 Description</span></div><input type="text"
            class="form-control" />
            <div class="input-group-append">
            <div class="dropdown btn-group" role="group"><button class="btn btn-info dropdown-toggle"
                data-toggle="dropdown" aria-expanded="false" type="button">Dropdown</button>
                <div role="menu" class="dropdown-menu"><a role="presentation" href="#" class="dropdown-item">First
                    Item</a><a role="presentation" href="#" class="dropdown-item">Second Item</a><a role="presentation"
                    href="#" class="dropdown-item">Third Item</a>
                <div role="presentation" class="dropdown-divider"></div>
                </div>
            </div>
            </div>
        </div>
        </form>
    </div>
    <div class="col"><button class="btn btn-success" type="button">Button</button></div>
    </div>
    <div class="row">
    <div class="col-lg-9 offset-lg-1">
        <form>
        <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text">Habit # 3 Name</span></div><input type="text"
            class="form-control" />
            <div class="input-group-append">
            <div class="dropdown btn-group" role="group"><button class="btn btn-info dropdown-toggle"
                data-toggle="dropdown" aria-expanded="false" type="button">Dropdown</button>
                <div role="menu" class="dropdown-menu"><a role="presentation" href="#" class="dropdown-item">First
                    Item</a><a role="presentation" href="#" class="dropdown-item">Second Item</a><a role="presentation"
                    href="#" class="dropdown-item">Third Item</a>
                <div role="presentation" class="dropdown-divider"></div>
                </div>
            </div>
            </div>
        </div>
        </form>
    </div>
    <div class="col"><button class="btn btn-success" type="button">Button</button></div>
    </div>
</div>
</div>

<% end %>
<!-- Card -->