p {
		font-family: 'Manrope', sans-serif;
		
}
text-justify {
  text-align: justify;
}

a.arrow_link {
    color: #fff;
}

html,
body {
  height: 100%;
  margin: 0;
}
section {
  height: 100vh;
}

.down-arrow {
	display: inline-block;
	position: relative;
	background: darkcyan;
	padding: 15px 0;
	width: 200px;
	text-align: center;
}
.down-arrow:after {
	content: '';
	display: block;  
	position: absolute;
	left: 0;
	top: 100%;
	width: 0;
	height: 0;
	border-top: 20px solid darkcyan;
	border-right: 100px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 100px solid transparent;
}