/*---- General Setup ----*/

body {
  background: #d2d9d294 url("../images/background.jpg") repeat center;
  background-blend-mode: color-dodge;
  background-attachment: fixed;
  font-size: 20px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*---- Main Headings and Paragraph Text ----*/

h1 {
  font-size: 3rem;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: 5px;
  padding: 5px 0;
}

#fractal h3 {
  font-size: 1.5rem;
}

h4 {
  display: inline-block;
  padding-left: 10%;
  font-size: 1.2rem;
}

p {
  font-family: "Lato", "Helvetica", "Verdana", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.025rem;
  color: #001;
  margin-bottom: 20px;
}

a {
  color: #16a085;
}

.card dt,
[role="list"] .input-group h2,
a:hover {
  color: #001;
}

.jumbotron p {
  padding: 0 20px;
  margin-bottom: 20px;
}

.card-header {
  font: 200 1.4rem "Helvetica", "Verdana", sans-serif;
}

[role="list"] .input-group h2 {
  font-size: 1.4rem;
  margin: auto 0;
  padding: 0 10px;
}

/* Last panel on index page */
p.card-text+ul>li {
  margin-bottom: 1.5rem;
}

p.card-text+ul {
  padding: 0 2rem;
  list-style-type: square;
  width: 80%;
  margin: 1rem auto;
}

.h-flex .card-header,
[role="tab-panel"] .card:last-child {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 1rem;
}

/* Accordion headers */
.card h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

/*---- Main page elements ----*/

#container {
  padding: 20px;
  width: 80%;
}

.jumbotron,
.card {
  border: 2px solid gray;
  padding: 0 5px;
}

[role="region"].card {
  border-top: 0;
}

.card-body {
  align-self: center;
  padding: 1rem;
}

.card dl {
  width: 80%;
}

.card dl > * {
  display: flex;
  align-self: center;
}

.h-flex .card-header,
.jumbotron {
  background-color: #ececec;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}

/* Habits index table */
.table {
  table-layout: fixed;
}

.table th:first-child {
  width: 20vw;
}

.table td:first-child {
  font-weight: bolder;
  color: #001;
}

th span {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding: 20px;
  display: inline-block;
  margin-top: 5px;
}

/*---- Form elements alignment ----*/

div.input-group > * { padding: 0 2px; }

div.input-group a,
div.input-group button,
div.input-group select,
div.input-group [type="date"],
div.input-group [type="text"] {
  padding: 0.3rem;
  height: 3.2rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 1.2rem;
}

.side-by-side > form a,
.side-by-side > form button,
.side-by-side > fieldset button { font-size: 0.8rem; }

.input-group h4,
.side-by-side .form-group {
  display: flex;
  flex: 1;
}

.v-flex,
.h-flex {
  display: flex;
  justify-content: space-evenly;
}

.v-flex { flex-direction: column; }

.h-flex {
  margin: 20px auto;
  align-items: center;
}

.h-flex button {
  flex: 1 1 2rem;
  padding: 0.3rem;
}

.h-flex .side-by-side button {
  margin: 0 5px 5px 0;
}

.h-flex .card-body,
.h-flex .btn:last-of-type {
  margin-right: 0.3rem;
}
.h-flex .btn:first-of-type {
  margin-left: 0.8rem;
}

#new-objective .form-group,
#new-habit .form-group {
  flex: 2 0 5rem;
}

#new-objective input:nth-child(2),
#new-habit input:nth-child(2) { flex: 3 0 3rem; }

.side-by-side > div.v-flex,
#new-objective button:last-child,
#new-habit button:last-child { flex: 1; }

/* Dark Background Labels */
div.input-group-prepend>label,
div.input-group-prepend>span,
#fractal .h-flex .input-group-prepend>span,
th span,
h1 {
  color: whitesmoke;
  background-color: #001;
  margin-left: auto;
}

div.input-group-prepend {
  height: 3.3rem;
  margin: 3px;
}

.v-flex .bootstrap-switch-square,
.input-group-prepend.atomic {
  margin: 0 5px 0 auto;
}

.v-flex div.input-group-prepend span {
  border-bottom-left-radius: 0;
}

#fractal .v-flex div.input-group-prepend span {
  border-top-right-radius: 15px;
}

fieldset .side-by-side > div > span.input-group-text {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

fieldset .side-by-side > .input-group-prepend:first-child {
/* Align darkened labels to right of their own column */
flex: 0 1 33%;
}

/*---- Objective based styles ----*/

.objective-dashboard > .card-body > span.streak-count + h4,
.objective-dashboard > .card-body > span.streak-count { margin: 0; }

.streak-count {
  position: relative;
  top: 3rem;
}

span.streak-count h3 {
  padding: 0 4rem;
}

.objective-dashboard.h-flex { margin: 0; }

fieldset .side-by-side > .btn.btn-xs {
  flex: 1;
  margin: 0.2rem;
}

h3.d-inline-block {
  margin: 4rem 0;
}

/*---- Fractal Triangle Page ---- */

/* Layout */
  /* Swiper grid */

  .swiper-container.instance-0 {
    display: grid;
    grid-template-columns: 20% 5% 70% 5%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas:
      "side2  null0  top null1"
      "side1  ba0    mid   fa0"
      "side0 null2   bot null3";
  }

  .swiper-container.instance-2 > .swiper-pagination-wrapper { grid-area: top; }
  .swiper-container.instance-1 > .swiper-pagination-wrapper { grid-area: mid; }
  .swiper-container.instance-0 > .swiper-pagination-wrapper { grid-area: bot; }

  .swiper-btn-prev-0 { grid-area: ba0; }
  .swiper-btn-next-0 { grid-area: fa0; }

  .custom-flex-row:nth-of-type(1) { order: 1; }
  .custom-flex-row:nth-of-type(2) { order: 2; }
  .custom-flex-row:nth-of-type(3) { order: 3; }
  .custom-flex-row:nth-of-type(4) { order: 4; }
  .custom-flex-row:nth-of-type(5) { order: 5; }
  .custom-flex-row:nth-of-type(6) { order: 6; }
  .custom-flex-row:nth-of-type(7) { order: 7; }

  .tessellated { margin-left: -2.8em; }

  .custom-flex-row {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .instance-2 .swiper-wrapper .swiper-slide-active.swiper-slide,
  .instance-1 .swiper-wrapper .swiper-slide-active.swiper-slide {
    width: 100% !important;
    position: initial;
  }
  .instance-0 .swiper-wrapper.swiper-wrapper-0 { grid-area: side0; }
  .instance-1 .swiper-wrapper .swiper-slide-active.swiper-slide { grid-area: side1;}
  .instance-2 .swiper-wrapper .swiper-slide-active.swiper-slide { grid-area: side2; }

  .instance-2 .swiper-wrapper .swiper-slide, /* Hide inactive slides */
  .instance-1 .swiper-wrapper .swiper-slide {
    position: relative;
    right: -9999px;
  }

  #fractal .swiper-pagination {
    font-size: 3vw;
  }

  /* Arrows */
  .swiper-btn-next-0,
  .swiper-btn-prev-0,
  #fractal span.triangle { background: transparent; }

/* Headings and Labels */
#fractal h3,
#fractal .bootstrap-switch-square { margin: 0 0 0.5rem 1rem; }

#fractal div.input-group-text,
#fractal div.input-group-prepend {
  height: 1rem;
  margin-bottom: 1rem;
}

#fractal .h-flex .input-group-prepend > span,
div.input-group-prepend>.input-group-text {
  border-radius: 15px;
}

/* Per-habit dashboard (sidebar) */
#fractal .instance-2 .swiper-slide-active.swiper-slide > dl.habit-dash,
#fractal .instance-1 .swiper-slide-active.swiper-slide > dl.habit-dash {
  width: 100%;
}

#fractal .card dl {
  width: 20%;
  margin-top: -10px;
}

#fractal .bootstrap-switch {
  height: 25px !important;
  overflow: hidden;
}

#fractal .card-header { padding: 0; }

#fractal dl,
.habit-tracked-toggle > * { margin-bottom: 3px; }

.date-info {
  position: absolute;
  top: -32vh;
  left: 60vw;
}

/* Habit triangles */
  #fractal span.triangle-success { border-color: transparent transparent #2ecc71 transparent; }

  #fractal span.triangle-notyet { border-color: transparent transparent #f1c40f transparent; }

  #fractal span.triangle {
    border-style: solid;
    border-width: 0 2.8em 5em 2.8em; /* Equilateral, based on the pagination-wrapper font-size */
    opacity: 1;
    border-radius: 0;
  }

  span.triangle-wrapper {
    display: flex;
    flex-basis: 1.4em;
  }

/* Pagination text and alignment*/
#fractal span.triangle span {
  position: relative;
  color: white;
  font-size: 1.2rem;
  left: -3px;
  bottom: -8px;
}

.swiper-pagination-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

#fractal span.triangle.swiper-pagination-bullet-active span {
  color: #001;
}

/*-- Action list for atomic habits */
[role="list"] .card-body {
  width: 60%;
  height: 100%;
}

[role="list"] button,
[role="list"] h2 {
  display: flex;
  flex: 1;
  padding-left: 2rem;
}

.delete { padding-left: 5%; }

[role="list"] form { flex: 0 1 auto; }

[role="list"] .h-flex { justify-content: flex-start; }

[role="list"] .destroy_btn {
  position: relative;
  left: -9999px;
}

[role="list"] form.check button[type="submit"] {
  position: absolute;
  left: -9999px;
}

[role="list"] .todo-icon {
  position: relative;
  left: -5px;
  bottom: 20px;
}

[role="list"] label {
  position: relative;
  right: 30px;
  border: 2px solid #16a085;
  width: 40px;
  height: 40px;
}

[role="list"] .input-group {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
}

/*-- Pixel Perfect Tweaks */
.v-flex .bootstrap-switch-square { margin-bottom: 5px; }

#fractal form { margin-right: 30px; }

[role="tabpanel"] div.input-group-prepend {
  margin-top: -10px;
  height: 4rem;
}

/* Form glyphs */
label:last-child {
  margin-top: 10px;
  padding-left: 10px;
}

.side-by-side label:last-child {
  flex: 0 1 20%;
  margin: 0;
}

/*-- Media Queries */
@media only screen 
and (max-width: 960px) {
    #container {
      padding: 0;
    }
    [class*="fui-"] { display: none; }

    .fui-cross, .fui-check, .fui-arrow-left, .fui-arrow-right { display: initial; }

    .objective-dashboard .h-flex .btn:first-of-type,
    .objective-dashboard .h-flex .btn:last-of-type {
      flex: 1 0 50%;
      margin: 2px;
    }
    
  .table tr{
    display:block;
  }
}

@media screen and (max-width: 480px) {
  #container { width: 100%; }

  div.text-justify p,
  div.card-header,
  div.card-body,
  div.alert,
  div.col { padding: 10px; }

  fieldset .side-by-side> :first-child { flex-basis: 100%; }

  .input-group-prepend,
  span.input-group-text { width: 100%; }
}

@media screen and (max-width: 600px) {
  div.form-group { flex-basis: 100% !important; }
}