<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flat UI Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI Pro -->
    <link href="css/flat-ui.css" rel="stylesheet">

  </head>
  <body>

<div class="container">
  <!-- Card -->
  <div class="card card-cascade">

  <div class="row">
    <div class="col">
      <h2 class="text-center">Heading</h2>
    </div>
  </div>
  <!-- Subtitle -->
  <p class="card-header-subtitle mb-0">Deserve for her own card</p>

  

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

  <!-- Text -->

  <div class="row">
    <div class="col-lg-9 offset-lg-1">
      <form>
        <!-- <div class="input-group-append">
              <div class="dropdown btn-group" role="group"><button class="btn btn-info dropdown-toggle"
                  data-toggle="dropdown" aria-expanded="false" type="button">Dropdown</button>
                <div role="menu" class="dropdown-menu"><a role="presentation" href="#" class="dropdown-item">First
                    Item</a><a role="presentation" href="#" class="dropdown-item">Second Item</a><a role="presentation"
                    href="#" class="dropdown-item">Third Item</a>
                  <div role="presentation" class="dropdown-divider"></div>
                </div>
              </div>
            </div> -->
        <div class="input-group">
  
          <div class="input-group-prepend"><span class="input-group-text">Habit # 1 Name</span></div><input type="text"
            class="form-control" />
          <div
            class="input-group-append select2-container form-control select select-primary select2-dropdown-open select2-container-active"
            id="s2id_autogen1"><a href="javascript:void(0)" class="select2-choice" tabindex="-1"> <span
                class="select2-chosen" id="select2-chosen-2">X-Men</span><abbr class="select2-search-choice-close"></abbr>
              <span class="select2-arrow" role="presentation"><b role="presentation"></b></span></a><label
              for="s2id_autogen2" class="select2-offscreen"></label><input class="select2-focusser select2-offscreen"
              type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-2" id="s2id_autogen2"
              disabled=""></div>
        </div>
      </form>
    </div>
    <div class="col"><button class="btn btn-success" type="button">Button</button></div>
  </div>
  <div class="row">
    <div class="col-lg-9 offset-lg-1">
      <form>
        <div class="input-group">
          <div class="input-group-prepend"><span class="input-group-text">Habit # 2 Name</span></div><input type="text"
            class="form-control" />
          <div class="input-group-append">
            <div class="dropdown btn-group" role="group"><button class="btn btn-info dropdown-toggle"
                data-toggle="dropdown" aria-expanded="false" type="button">Dropdown</button>
              <div role="menu" class="dropdown-menu"><a role="presentation" href="#" class="dropdown-item">First
                  Item</a><a role="presentation" href="#" class="dropdown-item">Second Item</a><a role="presentation"
                  href="#" class="dropdown-item">Third Item</a>
                <div role="presentation" class="dropdown-divider"></div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col"><button class="btn btn-success" type="button">Button</button></div>
  </div>
  <div class="row">
    <div class="col-lg-9 offset-lg-1">
      <form>
        <div class="input-group">
          <div class="input-group-prepend"><span class="input-group-text">Habit # 3 Name</span></div><input type="text"
            class="form-control" />
          <div class="input-group-append">
            <div class="dropdown btn-group" role="group"><button class="btn btn-info dropdown-toggle"
                data-toggle="dropdown" aria-expanded="false" type="button">Dropdown</button>
              <div role="menu" class="dropdown-menu"><a role="presentation" href="#" class="dropdown-item">First
                  Item</a><a role="presentation" href="#" class="dropdown-item">Second Item</a><a role="presentation"
                  href="#" class="dropdown-item">Third Item</a>
                <div role="presentation" class="dropdown-divider"></div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col"><button class="btn btn-success" type="button">Button</button></div>
  </div>

  </div>

  </div>
  <!-- Card -->
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Bootstrap 4 requires Popper.js -->
    <script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>

    <script src="http://vjs.zencdn.net/6.6.3/video.js"></script>

    <script src="scripts/flat-ui.js"></script>

  </body>
</html>
